@charset "UTF-8";
/*очиска стилів*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@media (max-width: 767px) {
  body {
    font-size: calc(10px + (8 + 8 * 0.7) * ((100vw - 320px) / 1867));
  }
}
body {
  color: #ffffff;
  font-family: "Changa";
  font-size: calc(12px + 6 * ((100vw - 320px) / 1559));
  background: #000000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  color: #fff;
  background: linear-gradient(102.42deg, rgba(148, 25, 193, 0.23) 0.39%, rgba(125, 34, 186, 0.406325) 23.53%, rgba(41, 46, 192, 0.72) 68.15%, #060B88 92.01%), #0D0B41;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

@media (max-width: 1813px) {
  .columns__left {
    margin: 0 10px 0 10px;
  }

  .columns__right {
    margin: 0 3px 0 10px;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1782px;
  margin: 0px auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: calc(100vh - 120px);
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../../img/background/rainbow.svg);
  background-repeat: no-repeat;
  height: calc(160px + 770 * ((100vw - 320px) / 1559));
  background-size: 100%;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00000066;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header_logo {
  padding: 20px;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_item {
  padding-left: 52px;
}

.header_link {
  line-height: 24px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: calc(10px + 8 * ((100vw - 320px) / 1559));
}

.header_link:hover, .header_link:focus, .header_link:active {
  opacity: 0.75;
}

.header__container {
  display: none;
}

a:hover {
  color: #aaa;
}

@media (max-width: 767px) {
  .header_wrapper {
    display: none;
  }

  .list__bottom {
    height: 0;
    opacity: 0;
  }

  .header__container {
    display: block;
  }

  .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .columns__left {
    width: 100%;
  }

  .block {
    margin-top: 20px;
  }

  .hi {
    visibility: hidden;
  }

  .img__icon {
    visibility: hidden;
  }

  .header__nav {
    display: block;
    position: absolute;
    left: 0;
    background: #100F10;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
            box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    left: -100%;
    z-index: 2;
  }

  .header__menu {
    display: block;
  }

  .header__nav.open-menu {
    left: 0;
  }

  .header__menu li {
    margin: 40px 0px 40px 33px;
    font-size: 14px;
    font-family: Changa;
    color: #FFFFFF;
  }

  .header__menu a {
    font-size: 14px;
    font-family: Changa;
    color: #FFFFFF;
  }

  .menu-burger__header {
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
    z-index: 7;
  }

  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }

  .menu-burger__header span {
    top: 16px;
  }

  .menu-burger__header:after, .menu-burger__header:before {
    content: "";
  }

  .menu-burger__header:after {
    bottom: 5px;
  }

  .menu-burger__header:before {
    top: 5px;
  }

  .menu-burger__header.open-menu span {
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .menu-burger__header.open-menu:before {
    -webkit-transform: rotate(38deg);
            transform: rotate(38deg);
    top: 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .menu-burger__header.open-menu:after {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
    bottom: 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .content-wrapper {
    margin-top: 48px;
  }

  .fixed-pade {
    overflow: hidden;
  }
}
.personal_office {
  padding: 0px 20px 0px 0px;
}

.footer {
  background: #03001BE3;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 0 0;
}

.footer__text {
  font-size: 12px;
  letter-spacing: 0.3px;
}

.liga {
  max-width: 210px;
  float: right;
}

.liga__rows_one {
  font-family: Changa;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  color: #010101;
}

.liga__rows_two {
  font-family: Days One;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  color: #000000;
}

.hi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 50px 20px;
}

.hi__text__rows1 {
  font-family: Changa;
  font-style: normal;
  font-weight: 300;
  font-size: calc(11px + 7 * ((100vw - 320px) / 1559));
  line-height: 50px;
  color: #00E0FF;
}

.hr__test {
  width: 40px;
  /*лінія перекинута*/
  height: 6px;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(#272B9C), to(#E70BDE));
  background: linear-gradient(to left, #272B9C, #E70BDE);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          margin-left: 10px;
}

.hi__text__rows2 {
  font-family: DaysOne-Regular;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  color: #FFFFFF;
}

.hi__text__rows3 {
  font-family: Changa;
  font-style: normal;
  font-weight: normal;
  font-size: calc(7px + 7 * ((100vw - 320px) / 1559));
  line-height: 6px;
  color: #FFFFFF;
}

.img__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs__date {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cs__icon {
  margin-top: 13px;
}

.hr__tournaments {
  margin: 17px 20px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 24px;
  text-decoration: none;
}

.list__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hr {
  width: 40px;
  /*лінія перекинута*/
  height: 6px;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(#272B9C), to(#E70BDE));
  background: linear-gradient(to left, #272B9C, #E70BDE);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: -17px;
}

.columns__tournaments {
  border: 1px solid transparent;
  -o-border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#9A18C3), to(#272B9C));
     border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
  -o-border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
     border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
  border-image-slice: 1;
  max-width: 665px;
}

.columns__tournaments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 18px 0 18px;
}

.tournaments__rows__one {
  font-family: Changa;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  color: #FFA000;
}

.tournaments__rows__two {
  font-family: Changa;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.tournaments__info {
  margin-top: 38px;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#9A18C3), to(#272B9C));
     border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
  -o-border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
     border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
  border-image-slice: 1;
  max-width: 665px;
  font-family: Changa;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  color: #FFFFFF;
  padding: 11px 0 11px 28.66px;
}

a {
  color: #FFA000;
}

.hr__comand {
  margin: 110px 0px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.hr__team {
  max-width: 663.99px;
  height: 1px;
  margin-top: -10px;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(#272B9C), to(#272B9C));
  background: linear-gradient(to left, #272B9C, #272B9C);
}

.rows__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 663px;
  font-family: Days One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  margin: 12px;
}

.logo__team__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns__right {
  margin-left: 10px;
}

.teams {
  max-width: 664px;
}

.rayting__down {
  font-family: Changa;
  font-size: calc(11px + 7 * ((100vw - 320px) / 1559));
  line-height: 33px;
  color: #FFA000;
}

.name__team {
  margin: 14px 0 0 13px;
  font-size: calc(14px + 10 * ((100vw - 320px) / 1559));
}

.button__rayting {
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 66px 0 0 0;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#9A18C3), to(#272B9C));
     border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
  -o-border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
     border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
  border-image-slice: 1;
  width: calc(120px + 125 * ((100vw - 320px) / 1559));
}

.button__text {
  font-family: Changa;
  font-style: normal;
  font-weight: normal;
  @nclude adaptiv-font(18, 8);
  line-height: 33px;
  color: #FFFFFF;
}

.one_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.one {
  padding-top: 14px;
  width: 33.333%;
  height: 50px;
  background: #151414;
  margin: 0px 6px 4px 0px;
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
}

.two_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.two {
  margin: 0px 6px 4px 0px;
  width: 50%;
  height: 77px;
  background: #100F10;
}

.three {
  height: 225px;
  background: #100F10;
  text-align: center;
  margin: 0 6px 0 0;
}

.prizes {
  font-family: Changa;
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
}

.prizes::after {
  content: "$";
  color: #FFA000;
}

.three__info {
  margin: 0 auto;
  max-width: 432px;
  font-family: Changa;
}

.block {
  text-align: center;
}

.place {
  font-family: Days One;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  color: #FFA000;
  padding-top: 15px;
}

.three__registration {
  line-height: 33px;
}

.three__net {
  font-size: 14px;
  line-height: 26px;
}

.three__time {
  padding: 20px 0 14px 0;
  font-family: Days One;
  font-style: normal;
  font-weight: normal;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1559));
  font-weight: 500;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn_button {
  height: 37px;
  width: calc(120px + 125 * ((100vw - 320px) / 1559));
  text-align: center;
  background: linear-gradient(102.42deg, rgba(148, 25, 193, 0.23) 0.39%, rgba(125, 34, 186, 0.406325) 23.53%, rgba(41, 46, 192, 0.72) 68.15%, #060B88 92.01%), #0D0B41;
  border-radius: 6px;
  background-size: 200%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
  margin: 26px 0 0 0;
}

.btn_button:hover {
  background-position: right;
}

.button__application {
  text-align: center;
  width: calc(120px + 125 * ((100vw - 320px) / 1559));
  margin: 26px 11px 0 0;
  color: #FFFFFF;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#9A18C3), to(#272B9C));
     border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
  -o-border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
     border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
  border-image-slice: 1;
}

.buttons__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discord {
  padding-top: 44px;
}

.maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 272px;
}

.maps__column__photo {
  max-width: 225.88px;
  max-height: 61.75px;
  background: #100F10;
  margin-bottom: 11px;
}

.maps__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5px 0 5px;
}

.nav__boottom:hover {
  opacity: 0.75;
}

.nav__boottom {
  color: #ffffff;
}

@media (max-width: 440px) {
  .columns__tournaments {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.tab {
  display: none;
}

.tab:target {
  display: block;
}

.rules {
  margin: 50px 0 0 15px;
  line-height: 33px;
}

.rules__h {
  font-family: Days One;
  font-size: calc(12px + 12 * ((100vw - 320px) / 1559));
  line-height: 23px;
}

.tournaments_ {
  font-size: calc(12px + 12 * ((100vw - 320px) / 1559));
}

.rules__text {
  margin: 14px 0 0 15px;
}

.tournament__grid {
  margin: 0 10px;
}

.grid__photo img {
  max-width: 100%;
}

.grid__photo {
  position: relative;
}

.text__grid {
  position: absolute;
  left: 50%;
  top: 42%;
  font-weight: 300;
  font-size: calc(10px + 14 * ((100vw - 320px) / 1559));
  line-height: 52px;
  text-align: center;
}

.text__grid__time {
  font-family: Days One;
  color: #FFA000;
  line-height: 36px;
}

@media (max-width: 1450px) {
  .text__grid {
    position: absolute;
    right: 2%;
    top: 42%;
  }

  .text__grid__p {
    line-height: 25px;
  }
}
@media (max-width: 584px) {
  .text__grid {
    position: absolute;
    right: 2%;
    top: 15%;
  }
}
.rows__black {
  background: #100F10;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rows__gray {
  background: #191919;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1780px) {
  .container {
    margin: 0 10px;
  }
}
.rows__text {
  position: absolute;
  left: 5%;
}

.rows__text__center {
  position: absolute;
  left: 50%;
}

.rows__text__right {
  position: absolute;
  left: 90%;
}

.rows__text__right__match {
  position: absolute;
  left: 70%;
}

.rows__text__name {
  position: absolute;
  left: 25%;
}

@media (max-width: 540px) {
  .rows__text__right {
    position: absolute;
    left: 84%;
  }

  .rows__text__right__match {
    position: absolute;
    left: 65%;
  }
}
.button__search {
  border: 1px solid transparent;
  margin: 16px 0px 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
  -o-border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#9A18C3), to(#272B9C));
     border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
  outline: none;
  border-image-slice: 1;
}

input {
  @icnlude adaptiv-width(280, 130);
  background: inherit;
  color: #ffffff;
}

.hr__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 510px) {
  .status {
    top: 64px;
  }
}
.content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  max-width: 1200px;
  width: 100%;
  height: 81px;
  background: #0F0D0D;
  border-radius: 6px;
  margin: 30px auto;
  position: relative;
  padding: 5px 5px;
}

.icons img {
  width: 45px;
  height: 46px;
}

.score {
  background: #000000;
  border-radius: 4px;
  width: 28px;
  height: 31px;
  text-align: center;
  padding-top: 6px;
}

.score, .icons img {
  margin-left: 10px;
}

.comand {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1559));
  margin-left: 10px;
}

.status {
  position: absolute;
  right: 5px;
}

.date__match {
  font-family: "DaysOne-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: calc(8px + 6 * ((100vw - 320px) / 1559));
  line-height: 6px;
}

.type__match {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "DaysOne-Regular";
}

.content__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rows__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs {
  min-width: 320px;
  max-width: 1785px;
  padding: 0px;
  margin: 0 auto;
}

/* Стили секций с содержанием */
.tabs > section {
  display: none;
  background: inherit;
}

.tabs > section {
  margin-bottom: 20px;
  /* прикрутим анимацию */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Прячем чекбоксы */
.tabs > input {
  display: none;
  position: absolute;
}

/* Стили переключателей вкладок (табов) */
.tabs > label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 15px 0 0 10%;
  text-align: center;
  font-family: "DaysOne-Regular";
}

/* Изменения стиля переключателей вкладок при наведении */
.tabs > label:hover {
  color: #aaa;
  cursor: pointer;
}

/* Стили для активной вкладки */
.tabs > input:checked + label {
  color: #fff;
  border-bottom: 1px solid #fff;
  background: #00000066;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked ~ #content-tab1,
#tab2:checked ~ #content-tab2,
#tab3:checked ~ #content-tab3,
#tab4:checked ~ #content-tab4,
#tab5:checked ~ #content-tab5,
#tab6:checked ~ #content-tab6 {
  display: block;
}

/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
  .tabs > label {
    margin: 15px 0 0 7%;
  }
}
@font-face {
  font-family: "RalewayRegular";
  src: url("../../fonts/RalewayRegular.ttf") format("truetype");
  src: url("../../fonts/DaysOne-Regular.ttf") format("truetype");
  src: url("../../fonts/Changa.ttf") format("truetype");
  src: url("../../fonts/Changa-Bold.ttf") format("truetype");
  src: url("../../fonts/Changa-Medium.ttf") format("truetype");
}
.pic_map_title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.team_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 215px;
  width: 343px;
  background: #050505;
  border-radius: 6px 6px 0px 0px;
}

.pic_map {
  width: 552px;
  height: 503px;
  background: #050505;
  border-radius: 6px 6px 0px 0px;
  margin: 0px 27px 0px 27px;
}

.img_logo_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../img/jogo.svg);
  width: 100%;
  height: 89px;
}

.team_pic {
  font-size: calc(15px + 9 * ((100vw - 320px) / 1559));
  font-family: DaysOne-Regular;
  line-height: 33px;
  color: #FFFFFF;
}

.team_fon {
  margin: 0 3% 0 3%;
}

.item_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colo {
  margin-left: 3%;
  width: 21px;
  height: 21px;
  border-radius: 10px 10px 10px 10px;
  background: #0B9808;
}

.item_team_one {
  margin: 2%;
  font-family: Changa;
  font-size: calc(15px + 9 * ((100vw - 320px) / 1559));
  line-height: 44px;
}

.colo_two {
  margin-left: 3%;
  width: 21px;
  height: 21px;
  border-radius: 10px 10px 10px 10px;
  background: #920707;
}

.fon_pic {
  text-align: center;
  max-width: 100%;
  height: 219px;
  background-image: url(../../img/dast.svg);
}

.map_pic {
  padding-top: 70px;
  font-family: Changa;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
  color: #FFA000;
}

.map {
  font-family: Changa;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
}

.btn_button_news {
  background: #050505;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#9A18C3), to(#272B9C));
     border-image: linear-gradient(left, #9A18C3 0%, #272B9C 100%);
  -o-border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
     border-image: linear-gradient(to right, #9A18C3 0%, #272B9C 100%);
  border-image-slice: 1;
  width: calc(120px + 125 * ((100vw - 320px) / 1559));
  height: 44px;
  color: #FFFFFF;
  font-family: Changa;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1559));
  line-height: 33px;
  margin-top: 3%;
}

.button_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.checkbox_pic {
  display: none;
}

.fake {
  left: 7%;
  margin-top: 5%;
  right: 20%;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 10px solid #9219C0;
  border-radius: 10px;
  position: relative;
}

.fake:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 6px;
  height: 0px;
  border: 1px solid #000000;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.checkbox_pic:checked + .fake:before {
  opacity: 1;
}

.text_pic {
  position: relative;
  left: 10%;
  top: -3px;
  font-family: Changa;
  font-size: 17px;
}

.columns_pic_one {
  padding: 5% 3% 0% 6.1%;
}